.carousel-container {
  margin-top: 250px;
}
.h2-class {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 150px;
}

.carousel-div {
    margin-top: 15px;
}